body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 40px;
  color: black;
}

h1 {
  color: black;
}

form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

input, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}
